In [19]:
import pandas as pd 
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.model_selection import cross_val_score
from sklearn.metrics import f1_score, accuracy_score, recall_score
from sklearn.metrics import precision_score

In [20]:
df = pd.read_csv('Data.txt',  encoding = "cp1251", sep = ';')
df.head()

,Месяц выдачи кредита,Сумма кредита,Срок кредита,Возраст клиента,Пол клиента,Образование клиента,Тип товара,Наличие детей у клиента,Регион выдачи кредита,Доход клиента,Семейное положение,Оператор связи,Является ли клиентом банка,Флаг дефолта по кредиту
0,1,7000,12,39,Мужской,Среднее специальное,Мобильные телефоны,Детей нет,Другие регионы,21000,Другое,МТС,Не клиент банка,Нет дефолта
1,1,19000,6,20,Мужской,Среднее специальное,Бытовая техника,Дети есть,Другие регионы,17000,Другое,Теле2,Клиент банка,Нет дефолта
2,1,29000,12,23,Женский,Среднее специальное,Бытовая техника,Детей нет,Другие регионы,31000,Другое,Билайн,Не клиент банка,Нет дефолта
3,1,10000,12,30,Мужской,Среднее специальное,Мобильные телефоны,Дети есть,Другие регионы,31000,Никогда не был(а) женат/замужем,Теле2,Клиент банка,Нет дефолта
4,1,14500,12,25,Женский,Высшее,Мобильные телефоны,Детей нет,Другие регионы,26000,Женат/замужем,МТС,Клиент банка,Нет дефолта

In [21]:
df.describe(include = ['object'])

,Пол клиента,Образование клиента,Тип товара,Наличие детей у клиента,Регион выдачи кредита,Семейное положение,Оператор связи,Является ли клиентом банка,Флаг дефолта по кредиту
count,1723,1723,1723,1723,1723,1723,1723,1723,1723
unique,2,6,22,2,3,3,5,2,2
top,Мужской,Среднее специальное,Мобильные телефоны,Детей нет,Другие регионы,Другое,Мегафон,Клиент банка,Нет дефолта
freq,931,836,498,985,1414,1201,666,1042,1527

In [22]:

stacked = df[[ 'Флаг дефолта по кредиту' ]].stack()
df[['Флаг дефолта по кредиту' ]] = pd.Series(stacked.factorize()[0], index=stacked.index).unstack()

stacked = df[[ 'Пол клиента' ]].stack()
df[['Пол клиента' ]] = pd.Series(stacked.factorize()[0], index=stacked.index).unstack()

stacked = df[[ 'Образование клиента' ]].stack()
df[['Образование клиента' ]] = pd.Series(stacked.factorize()[0], index=stacked.index).unstack()

stacked = df[[ 'Тип товара' ]].stack()
df[['Тип товара' ]] = pd.Series(stacked.factorize()[0], index=stacked.index).unstack()

stacked = df[[ 'Наличие детей у клиента' ]].stack()
df[['Наличие детей у клиента' ]] = pd.Series(stacked.factorize()[0], index=stacked.index).unstack()

stacked = df[[ 'Регион выдачи кредита' ]].stack()
df[['Регион выдачи кредита' ]] = pd.Series(stacked.factorize()[0], index=stacked.index).unstack()

stacked = df[[ 'Семейное положение' ]].stack()
df[['Семейное положение' ]] = pd.Series(stacked.factorize()[0], index=stacked.index).unstack()

stacked = df[[ 'Оператор связи' ]].stack()
df[['Оператор связи' ]] = pd.Series(stacked.factorize()[0], index=stacked.index).unstack()

stacked = df[[ 'Является ли клиентом банка' ]].stack()
df[['Является ли клиентом банка' ]] = pd.Series(stacked.factorize()[0], index=stacked.index).unstack()

df

,Месяц выдачи кредита,Сумма кредита,Срок кредита,Возраст клиента,Пол клиента,Образование клиента,Тип товара,Наличие детей у клиента,Регион выдачи кредита,Доход клиента,Семейное положение,Оператор связи,Является ли клиентом банка,Флаг дефолта по кредиту
0,1,7000,12,39,0,0,0,0,0,21000,0,0,0,0
1,1,19000,6,20,0,0,1,1,0,17000,0,1,1,0
2,1,29000,12,23,1,0,1,0,0,31000,0,2,0,0
3,1,10000,12,30,0,0,0,1,0,31000,1,1,1,0
4,1,14500,12,25,1,1,0,0,0,26000,2,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1718,12,18500,6,32,0,1,0,1,0,46000,0,3,1,0
1719,12,6500,6,24,0,0,0,0,0,18000,0,0,1,0
1720,12,5500,12,21,0,2,0,0,0,15000,0,3,1,0
1721,12,30500,10,25,1,2,0,0,0,41000,0,2,1,1
1722,12,116000,24,34,0,1,5,1,0,41000,0,2,0,0

In [32]:
X1 = df.drop('Флаг дефолта по кредиту', axis=1)
X = X1.drop( 'Тип товара', axis=1)
y = df['Флаг дефолта по кредиту']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)
print(X.shape, y.shape)
print(X_train.shape, y_train.shape, X_test.shape, y_test.shape)

(1723, 12) (1723,)
(1292, 12) (1292,) (431, 12) (431,)

In [33]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression()
lr.fit(X_train, y_train)


lrmean_cross_val_score = cross_val_score(lr, X_train, y_train, cv=4).mean()


lr_o_y = lr.predict(X_train)
lr_out_y = lr.predict(X_test)

In [34]:
lrtrain_precision_score = precision_score(y_train, lr_o_y, average='micro', zero_division=1)
lrtest_precision_score = precision_score(y_test, lr_out_y, average='micro', zero_division=1)

In [35]:
lrtrain_recall_score = recall_score(y_train, lr_o_y, average='micro')
lrtest_recall_score = recall_score(y_test, lr_out_y, average='micro')

In [44]:
rf = RandomForestClassifier(n_estimators = 80, max_depth = 8)
rf.fit(X_train, y_train)

rfmean_cross_val_score = cross_val_score(rf, X_train, y_train, cv=4).mean()

rf_o_y = rf.predict(X_train)
rf_out_y = rf.predict(X_test)

In [45]:
rftrain_precision_score = precision_score(y_train, rf_o_y, average='micro', zero_division=1)
rftest_precision_score = precision_score(y_test, rf_out_y, average='micro', zero_division=1)

In [46]:
rftrain_recall_score = recall_score(y_train, rf_o_y, average='micro')
rftest_recall_score = recall_score(y_test, rf_out_y, average='micro')

In [47]:
Gp = pd.DataFrame(
    {
        'LogisticRegression': [lrtrain_precision_score, lrtest_precision_score, lrtrain_recall_score, lrtest_recall_score, lrmean_cross_val_score],
        'RandomForest': [rftrain_precision_score, rftest_precision_score, rftrain_recall_score, rftest_recall_score, rfmean_cross_val_score]
    },
    index=['train_precision_score','test_precision_score', 'train_recall_score', 'test_recall_score', 'mean_cross_val_score'] 
)
Gp

                       LogisticRegression  RandomForest
train_precision_score            0.883901      0.901703
test_precision_score             0.893271      0.893271
train_recall_score               0.883901      0.901703
test_recall_score                0.893271      0.893271
mean_cross_val_score             0.883901      0.882353

У Precision высока цена "ложных тревог" (т.е. отказов в кредите, когда клиент способен его обслуживать), при этом цена пропуска (выдачи кредита неплатежеспособному клиенту) низкая. У Recall наоборот высока цена ошибки, а цена ложной тревоги низкая. Лучше смотреть на обе эти метрики в отдельности, чтобы не потерять клиента, чтобы оценить как финансовые риски от невыплаченных кредитов, так и риск потерять клиента.